body {
  background-color: bisque;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.new {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.form-container {
  grid-column: 2/3;
}

.index {
  margin-left: 32%;
  text-align: center;
  justify-self: center;
}

.logo-container img:hover {
  opacity: 0.5;
}
